@model FloEvent.Catering.Data.Menu

<h2>Menu Details</h2>

<div>
    <h4>@Model.MenuName</h4>

    <h5>Included Food Items</h5>
    @if (Model.MenuFoodItems != null && Model.MenuFoodItems.Any())
    {
        <ul>
            @foreach (var item in Model.MenuFoodItems)
            {
                <li>
                    <strong>@item.FoodItem?.Name</strong> - @item.FoodItem?.Diet
                    <br />
                    <em>@item.FoodItem?.Ingredients</em>
                    <br />
                    Price: @item.FoodItem?.UnitPrice.ToString("C")
                </li>
            }
        </ul>
    }
    else
    {
        <p>No food items added to this menu.</p>
    }
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
