@model FloEvent.Web.ViewModels.FoodItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Ingredients)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Ingredients)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Diet)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Diet)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.UnitPrice)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.UnitPrice)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.FoodItemId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>
